body {
  font-size: 12px;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: helvetica;
  background: #fff;
}
.sizing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input::-webkit-input-placeholder {
  color: #fff !important;
  opacity: .8;
}
.sprite {
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
#header {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 1.17333333rem;
  position: absolute;
  line-height: 1.17333333rem;
  background-color: rgba(0, 0, 0, 0.4);
}
#header .search-wrap {
  padding: 0 0.48rem;
  margin-top: 0.18666667rem;
  width: 100%;
  height: 0.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#header .search-box {
  position: relative;
  z-index: 1;
  padding-left: 0.16rem;
  height: 0.77333333rem;
  line-height: 0.77333333rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
}
#header .search-box:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.18666667rem;
  left: 0.16rem;
  width: 0.44rem;
  height: 0.44rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -5.17333333rem -2.44rem;
}
#header .search-box input {
  padding-left: 0.66666667rem;
  width: 100%;
  font-size: 0.37333333rem;
  height: 0.77333333rem;
  line-height: 0.77333333rem;
  background-color: transparent;
  color: #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper {
  left: 0;
  z-index: 1;
  width: 100%;
  top: 0;
  overflow: auto;
  bottom: 1.30666667rem;
  position: absolute;
}
#wrapper #scroller {
  z-index: 1;
  width: 100%;
  padding: 0;
  position: absolute;
}
#wrapper .i-banner {
  width: 10rem;
  overflow: hidden;
  transform: translateZ(0);
  position: relative;
  margin: 0 auto;
}
#wrapper .i-banner ul:first-child {
  width: 600%;
  overflow: hidden;
  transform: translateX(-16.6667%);
  -webkit-transform: translateX(-16.6667%);
}
#wrapper .i-banner ul:first-child li {
  width: 16.6667%;
  float: left;
}
#wrapper .i-banner ul:first-child li img {
  width: 100%;
  height: 6.65333333rem;
  display: block;
}
#wrapper .i-banner ul:last-child {
  width: 2rem;
  height: 0.26666667rem;
  position: absolute;
  right: 0.13333333rem;
  bottom: 0.26666667rem;
}
#wrapper .i-banner ul:last-child li {
  width: 0.19333333rem;
  height: 0.19333333rem;
  margin-left: 0.13333333rem;
  border-radius: 50%;
  border: 1px solid #0099cc;
  float: left;
}
#wrapper .i-banner ul:last-child li:first-child {
  margin-left: 0;
}
#wrapper .i-banner ul:last-child .on {
  background: #0099cc;
}
#wrapper .nav-entry {
  width: 10rem;
  padding: 0.26666667rem 0.2rem;
  font-size: 0.42666667rem;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper .nav-entry .row {
  margin-bottom: 0.21333333rem;
  height: 2.45333333rem;
  width: 100%;
  transform: translateZ(0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper .nav-entry .row .col {
  float: left;
  width: 3.2rem;
  height: 2.45333333rem;
  margin-right: 0.10666667rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper .nav-entry .row .col a {
  display: block;
  position: relative;
  font-size: 0.42666667rem;
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  line-height: 1.17333333rem;
  text-align: center;
}
#wrapper .nav-entry .row .col a em {
  font-style: normal;
}
#wrapper .nav-entry .row .col1 {
  margin-right: 0.2rem;
  width: 2.89333333rem;
}
#wrapper .nav-entry .row .col3 {
  margin-right: 0;
}
#wrapper .nav-entry .row:first-child .col1 a {
  height: 2.45333333rem;
  background-image: url(../images/icon/btnlist0323_03.jpg);
  background-size: contain;
}
#wrapper .nav-entry .row:first-child .col2 a,
#wrapper .nav-entry .row:first-child .col3 a {
  height: 1.17333333rem;
  margin-bottom: 0.10666667rem;
  background-color: #ff9f26;
}
#wrapper .nav-entry .row:first-child .col2 a:before,
#wrapper .nav-entry .row:first-child .col3 a:before {
  display: block;
  content: '';
  position: absolute;
  top: 0.22666667rem;
  left: 0.22666667rem;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -0.48rem -3.32rem;
}
#wrapper .nav-entry .row:first-child .col2 a:last-child,
#wrapper .nav-entry .row:first-child .col3 a:last-child {
  background-color: #de4a89;
}
#wrapper .nav-entry .row:first-child .col2 a:last-child:before,
#wrapper .nav-entry .row:first-child .col3 a:last-child:before {
  background-position: -2.77333333rem -3.32rem;
}
#wrapper .nav-entry .row:first-child .col3 a:before {
  background-position: -1.64rem -3.32rem;
}
#wrapper .nav-entry .row:first-child .col3 a:first-child:before {
  transform-origin: 50% 100% 0;
  animation: shake-leftright 1s ease-in-out 3s;
}
#wrapper .nav-entry .row:first-child .col3 a:last-child {
  transform: translateZ(0);
  background-color: #7e83e3;
}
#wrapper .nav-entry .row:first-child .col3 a:last-child:before {
  background-position: -3.86666667rem -3.32rem;
}
#wrapper .nav-entry .row:nth-child(2) .col1 a {
  height: 2.45333333rem;
  background-image: url(../images/icon/btnlist0323_06.jpg);
  background-size: contain;
}
#wrapper .nav-entry .row:nth-child(2) .col2 a {
  height: 1.17333333rem;
  margin-bottom: 0.10666667rem;
}
#wrapper .nav-entry .row:nth-child(2) .col2 a:first-child {
  background-image: url(../images/icon/btnlist0323_08.jpg);
  background-size: contain;
}
#wrapper .nav-entry .row:nth-child(2) .col2 a:last-child {
  background-color: #31c6cc;
}
#wrapper .nav-entry .row:nth-child(2) .col2 a:last-child:before {
  display: block;
  content: '';
  position: absolute;
  top: 0.22666667rem;
  left: 0.22666667rem;
  width: 0.66666667rem;
  height: 0.66666667rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -5.10666667rem -3.32rem;
}
#wrapper .nav-entry .row:nth-child(2) .col3 a {
  height: 1.17333333rem;
  margin-bottom: 0.10666667rem;
}
#wrapper .nav-entry .row:nth-child(2) .col3 a:first-child {
  background-color: #3aace0;
}
#wrapper .nav-entry .row:nth-child(2) .col3 a:last-child {
  background-color: #33b6d2;
}
#wrapper .nav-entry .row:last-child {
  margin-bottom: 0;
}
#wrapper .nav-entry .row:last-child .col1 a {
  height: 2.45333333rem;
  background-image: url(../images/icon/btnlist0323_12.jpg);
  background-size: contain;
}
#wrapper .nav-entry .row:last-child .col2 a {
  height: 1.17333333rem;
  margin-bottom: 0.10666667rem;
}
#wrapper .nav-entry .row:last-child .col2 a:first-child {
  background-color: #bac731;
}
#wrapper .nav-entry .row:last-child .col2 a:last-child {
  background-color: #82c731;
}
#wrapper .nav-entry .row:last-child .col3 a {
  height: 1.17333333rem;
  margin-bottom: 0.10666667rem;
}
#wrapper .nav-entry .row:last-child .col3 a:first-child {
  background-color: #bac731;
}
#wrapper .nav-entry .row:last-child .col3 a:last-child {
  background-image: url(../images/icon/btnlist0323_14.jpg);
  background-size: contain;
}
.ad {
  width: 10rem;
  height: 2.34666667;
  margin: 0 auto;
  margin-bottom: 0.29333333rem;
}
.ad img {
  display: block;
  width: 100%;
}
.sale {
  padding: 0 0.32rem 0.24rem;
  width: 10rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sale nav {
  font-size: 0.42666667rem;
  color: #1448ae;
  line-height: 0.64rem;
  margin-bottom: 0.21333333rem;
}
.sale nav:before {
  content: '';
  display: block;
  width: 0.61333333rem;
  height: 0.64rem;
  float: left;
  margin-right: 0.13333333rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -5.04rem -1.37333333rem;
}
.sale .item {
  float: left;
  width: 4.56rem;
  height: auto;
  margin-bottom: 0.21333333rem;
  overflow: hidden;
  border: 1px solid #ccc;
}
.sale .item:nth-child(2n+1) {
  float: right;
}
.sale .item img {
  display: block;
  width: 100%;
}
.sale .item .item-main {
  margin-bottom: 0.2rem;
  padding: 0.21333333rem;
  width: 4.56rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sale .item .item-main h3 {
  font-size: 0.37333333rem;
  height: 0.93333333rem;
  line-height: 0.46666667rem;
  color: #333;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.sale .item .item-des {
  padding: 0.32rem 0 0.18666667rem;
}
.sale .item .item-des .person {
  float: left;
  color: #888;
  font-size: 0.32rem;
}
.sale .item .item-des .sale-price {
  float: right;
  color: #f90;
}
.sale .item .item-des .sale-price i {
  font-size: 0.24rem;
  vertical-align: 0.10666667rem;
}
.sale .item .item-des .sale-price strong {
  font-size: 0.37333333rem;
}
.sale .item .item-des .sale-price em {
  font-size: 0.24rem;
  color: #999;
}
#Top {
  display: none;
  right: 0.26666667rem;
  bottom: 1.86666667rem;
  position: fixed;
  width: 1.17333333rem;
  height: 1.17333333rem;
  line-height: 1.65333333rem;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #CCC;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  font-size: 0.32rem;
  color: #666;
  transition: all 0.6s;
}
#Top:before {
  content: "";
  display: inline-block;
  width: 0.38666667rem;
  height: 0.41333333rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -5.28rem -8.37333333rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0.13333333rem auto 0;
}
@keyframes shake-leftright {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
    -ms-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
    -ms-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
    -ms-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
    -ms-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
    -ms-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
#footer {
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 1.30666667rem;
  background-color: #ededed;
  position: absolute;
  border-top: 1px solid #e0e0e0;
  display: flex;
}
#footer a {
  -webkit-box-flex: 1;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  display: block;
  color: #999;
}
#footer a span {
  display: block;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0.13333333rem auto 0.04rem;
}
#footer a.active {
  color: #1448ae;
}
#footer a.active span {
  background-image: url(../images/icon/footer_0322_01.png);
}
#footer .home span {
  width: 0.72rem;
  height: 0.64rem;
  background-image: url(../images/icon/footer_0322_05.png);
}
#footer .destination span {
  width: 0.64rem;
  height: 0.65333333rem;
  background-image: url(../images/icon/footer_0322_06.png);
}
#footer .history span {
  width: 0.70666667rem;
  height: 0.66666667rem;
  background-image: url(../images/icon/footer_0322_07.png);
}
#footer .my span {
  width: 0.66666667rem;
  height: 0.65333333rem;
  background-image: url(../images/icon/footer_0322_08.png);
}
#footer p {
  font-size: 0.30666667rem;
}
