body {
  font-size: 12px;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: helvetica;
  background: #fff;
}
.sizing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sprite {
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
#header {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 1.17333333rem;
  position: absolute;
  line-height: 1.17333333rem;
}
#header .head-top {
  display: flex;
}
#header .head-top div {
  flex: 1;
}
#header .head-top .go-back {
  display: flex;
  flex: 1;
  height: 1.17333333rem;
  padding-left: 0.50666667rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#header .head-top .go-back .goback-icon {
  width: 1.09333333rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
}
#header .head-top .go-back .goback-icon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.24rem;
  height: 0.44rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -0.73333333rem -0.45333333rem;
}
#header .head-top .title {
  flex: 2;
  justify-content: center;
  font-size: 0.42666667rem;
  color: #000;
  text-align: center;
}
#header .head-top .title h3 {
  font-weight: 500;
}
#header .head-top .register {
  font-size: 0.37333333rem;
  text-align: center;
}
#header .head-top .register a {
  color: #1448ae;
}
#wrapper {
  left: 0;
  right: 0;
  z-index: 1;
  width: 10rem;
  top: 1.17333333rem;
  overflow: auto;
  bottom: 1.30666667rem;
  position: absolute;
  margin: 0 auto;
}
#wrapper #scroller {
  z-index: 1;
  padding: 0;
  position: absolute;
}
#wrapper .login-bar {
  width: 10rem;
  margin: 0 auto;
  padding: 1rem 0.64rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper .login-bar li {
  width: 100%;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  border-bottom: 1px solid #ccc;
}
#wrapper .login-bar li i {
  float: left;
  width: 1.73333333rem;
  font-size: 0.37333333rem;
  color: #666;
}
#wrapper .login-bar li input {
  float: left;
  width: 5.33333333rem;
  height: 1.06666667rem;
  font-size: 0.37333333rem;
  border: none;
  background: none;
  color: #000;
}
#wrapper .login-bar li a {
  float: right;
  width: 0.73333333rem;
  margin: 0 auto;
  text-align: center;
  display: none;
}
#wrapper .login-bar li a:before {
  content: '';
  display: inline-block;
  width: 0.29333333rem;
  height: 0.29333333rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -3.06666667rem -0.52rem;
}
#wrapper .login-bar li .change {
  float: right;
}
#wrapper .login-bar li .change:before {
  width: 0.41333333rem;
  height: 0.22666667rem;
  background-position: -3.76rem -0.56rem;
}
#wrapper .login-bar .pw .clear {
  float: left;
}
#wrapper .login-bar .login-btn {
  padding-top: 0.8rem;
}
#wrapper .login-bar .login-btn .submit {
  width: 100%;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  text-align: center;
  color: #fff;
  font-size: 0.42666667rem;
  border-radius: 0.13333333rem;
  background-color: #f7c612;
}
#wrapper .login-bar .login-qes {
  width: 100%;
  padding-top: 0.46666667rem;
}
#wrapper .login-bar .login-qes a {
  font-size: 0.32rem;
  color: #999;
  float: left;
}
#wrapper .login-bar .login-qes a:last-child {
  float: right;
}
#wrapper .cooperate {
  margin: 5.33333333rem 0 0 1rem;
}
#wrapper .cooperate li {
  float: left;
  width: 0.93333333rem;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  background-color: #5bbe61;
  border-radius: 100%;
  margin-right: 0.8rem;
  text-align: center;
}
#wrapper .cooperate li:before {
  content: '';
  display: inline-block;
  width: 0.61333333rem;
  height: 0.50666667rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -4.62666667rem -0.41333333rem;
  margin-top: 0.16rem;
}
#wrapper .cooperate li:nth-child(2) {
  background-color: #56b1e8;
}
#wrapper .cooperate li:nth-child(2):before {
  width: 0.45333333rem;
  height: 0.49333333rem;
  background-position: -5.66666667rem -0.42666667rem;
}
#wrapper .cooperate li:nth-child(3) {
  background-color: #666;
}
#wrapper .cooperate li:nth-child(3):before {
  width: 0.54666667rem;
  height: 0.44rem;
  background-position: -6.58666667rem -0.45333333rem;
}
#wrapper .cooperate li:nth-child(4) {
  background-color: #dd6e67;
}
#wrapper .cooperate li:nth-child(4):before {
  width: 0.54666667rem;
  height: 0.44rem;
  background-position: -7.54666667rem -0.45333333rem;
}
#wrapper .cooperate li:nth-child(5) {
  margin-right: 0;
  background-color: #5f76d4;
}
#wrapper .cooperate li:nth-child(5):before {
  width: 0.45333333rem;
  height: 0.50666667rem;
  background-position: -8.56rem -0.41333333rem;
}
