body {
  font-size: 12px;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: helvetica;
  background: #f4f4f4;
}
.sizing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input::-webkit-input-placeholder {
  color: #fff !important;
  opacity: .8;
}
.sprite {
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
#header {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 1.17333333rem;
  position: absolute;
  line-height: 1.17333333rem;
  background-color: rgba(0, 0, 0, 0.4);
}
#header .head-top {
  display: flex;
}
#header .head-top div {
  flex: 1;
}
#header .head-top .go-back {
  display: flex;
  flex: 1;
  height: 1.17333333rem;
  padding-left: 0.50666667rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#header .head-top .go-back .goback-icon {
  width: 1.09333333rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
}
#header .head-top .go-back .goback-icon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.24rem;
  height: 0.44rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -1.38666667rem -0.44rem;
}
#header .head-top .title {
  flex: 2;
  justify-content: center;
  font-size: 0.42666667rem;
  color: #fff;
  text-align: center;
}
#header .head-top .share {
  position: relative;
}
#header .head-top .share .share-icon {
  position: absolute;
  left: 0.66666667rem;
  top: 0.29333333rem;
  width: 0.44rem;
  height: 0.42666667rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -6.12rem -8.37333333rem;
}
#header .head-top .share .more {
  position: absolute;
  left: 1.48rem;
  top: 0.26666667rem;
  color: #fff;
  font-size: 0.8rem;
  line-height: 0;
}
#wrapper {
  left: 0;
  right: 0;
  z-index: 1;
  width: 10rem;
  top: 0;
  overflow: auto;
  bottom: 1.30666667rem;
  position: absolute;
  margin: 0 auto;
}
#wrapper #scroller {
  z-index: 1;
  padding: 0;
  position: absolute;
}
#wrapper .detail-pro {
  width: 10rem;
  margin: 0 auto;
}
#wrapper .detail-pro .banner-img {
  width: 10rem;
  position: relative;
}
#wrapper .detail-pro .banner-img img {
  display: block;
  width: 100%;
}
#wrapper .detail-pro .banner-img .tip {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  padding: 0 0.53333333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
}
#wrapper .detail-pro .banner-img .tip .des {
  float: left;
  font-size: 0.4rem;
}
#wrapper .detail-pro .banner-img .tip .num {
  float: right;
  font-size: 0.32rem;
}
#wrapper .detail-pro .summary {
  background-color: #fff;
  padding: 0.4rem 0.53333333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper .detail-pro .summary h2 {
  font-size: 0.48rem;
  font-weight: 600;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#wrapper .detail-pro .summary .dia-icon {
  display: block;
  width: 2.08rem;
  height: 0.29333333rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -0.53333333rem -5.69333333rem;
  margin: 0.4rem 0 0.26666667rem 0;
}
#wrapper .detail-pro .summary .sale-price {
  height: 0.8rem;
  line-height: 0.8rem;
  float: left;
  color: #ff4401;
  margin-right: 0.8rem;
}
#wrapper .detail-pro .summary .sale-price i {
  font-size: 0.4rem;
  vertical-align: 0.10666667rem;
}
#wrapper .detail-pro .summary .sale-price strong {
  font-size: 0.64rem;
}
#wrapper .detail-pro .summary .sale-price em {
  font-size: 0.24rem;
  color: #a9a9a9;
}
#wrapper .detail-pro .summary .sum-icon {
  float: left;
  height: 0.8rem;
  line-height: 0.8rem;
}
#wrapper .detail-pro .summary .sum-icon i {
  border: 1px solid #bfbfbf;
  color: #999;
  background-color: #eee;
  font-size: 0.32rem;
  padding: 0.05333333rem 0.13333333rem;
  margin-right: 0.26666667rem;
}
#wrapper .detail-pro .summary .sum-icon i:last-child {
  margin-right: 0;
}
#wrapper .sale {
  width: 10rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.4rem 0.48rem;
  background-color: #fdeacc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
#wrapper .sale .sale-left {
  float: left;
}
#wrapper .sale .sale-left .btn-red {
  color: #f36c65;
  border: 1px solid #f36c65;
  border-radius: 0.06666667rem;
  padding: 0.05333333rem;
  float: left;
  margin-right: 0.13333333rem;
}
#wrapper .sale .sale-left .item {
  float: left;
  width: 7.06666667rem;
}
#wrapper .sale .sale-left .item i {
  display: inline-block;
  width: 7.06666667rem;
  height: 0.4rem;
  line-height: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.32rem;
}
#wrapper .sale .sale-left .item i:before {
  content: '';
  display: inline-block;
  width: 0.10666667rem;
  height: 0.10666667rem;
  border-radius: 100%;
  background-color: #999;
  margin-right: 0.13333333rem;
}
#wrapper .sale .sale-left .btn-bg {
  background-color: #ef4242;
  color: #fad599;
}
#wrapper .sale .sale-left .sale-sec {
  overflow: hidden;
  padding-bottom: 0.2rem;
}
#wrapper .sale .sale-right {
  float: right;
}
#wrapper .sale .sale-right a {
  display: inline-block;
  width: 0.8rem;
  height: 1.73333333rem;
  line-height: 1.73333333rem;
  font-size: 0.64rem;
  color: #333;
  text-align: center;
}
#wrapper .discuss {
  margin-top: 0.26666667rem;
  padding: 0.4rem 0.53333333rem;
  width: 10rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#wrapper .discuss span {
  font-size: 0.32rem;
  color: #666;
}
#wrapper .discuss span em {
  color: #ff4401;
}
#wrapper .discuss i {
  color: #ccc;
  margin: 0 0.26666667rem;
}
#wrapper .discuss .score {
  font-size: 0.4rem;
}
#wrapper .discuss .dis-item {
  padding: 0.13333333rem 0 0.26666667rem 0;
}
#wrapper .discuss .dis-item span {
  display: inline-block;
  font-size: 0.32rem;
  color: #666;
  background-color: #f5f5f5;
  padding: 0.05333333rem 0.13333333rem;
  margin: 0 0.10666667rem 0.2rem 0;
  border-radius: 0.06666667rem;
}
#wrapper .discuss .dis-list li {
  padding: 0.33333333rem;
  border-top: 1px solid #ccc;
  display: none;
}
#wrapper .discuss .dis-list li .dis-des {
  font-size: 0.34666667rem;
  color: #666;
}
#wrapper .discuss .dis-list li .dis-des .dis-name {
  float: left;
}
#wrapper .discuss .dis-list li .dis-des .dis-time {
  float: right;
}
#wrapper .discuss .dis-list li .dis-detail {
  padding-top: 0.13333333rem;
  text-indent: 2em;
  font-size: 0.34666667rem;
}
#wrapper .discuss .dis-btn {
  color: #1ab2db;
  font-size: 0.34666667rem;
  padding: 0.2rem 0.73333333rem;
  border: 1px solid #1ab2db;
  border-radius: 0.13333333rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
#wrapper .content {
  width: 10rem;
  margin: 0 auto;
  margin-top: 0.26666667rem;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
#wrapper .content .content-top {
  height: 1.33333333rem;
  line-height: 1.26666667rem;
}
#wrapper .content .content-top ul {
  display: flex;
  border-bottom: 1px solid #ccc;
}
#wrapper .content .content-top ul li {
  border-bottom: 0.06666667rem solid transparent;
  float: left;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  justify-content: center;
  font-size: 0.4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper .content .content-top ul .nav-active {
  color: #1ab2db;
  border-bottom: 0.06666667rem solid #f7c612;
}
#wrapper .content .tab-panel {
  width: 10rem;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}
#wrapper .content .tab-panel .content-bd {
  display: none;
}
#wrapper .content .tab-panel .content-bd img {
  vertical-align: bottom;
  display: block;
  width: 100%;
}
#wrapper .content .tab-panel .content-bd .plan {
  padding: 0.66666667rem 0;
}
#wrapper .content .tab-panel .content-bd .plan .plan-time {
  float: left;
  width: 1.06666667rem;
  color: #fff;
  font-size: 0.24rem;
}
#wrapper .content .tab-panel .content-bd .plan .plan-time i {
  display: inline-block;
  width: 1.01333333rem;
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -3.34666667rem -5.54666667rem;
}
#wrapper .content .tab-panel .content-bd .plan .plan-mess {
  float: left;
}
#wrapper .content .tab-panel .content-bd .plan .plan-mess .plan-list {
  line-height: 0.66666667rem;
  border-left: 1px dashed #2f90bb;
}
#wrapper .content .tab-panel .content-bd .plan .plan-mess .plan-list .plan-title {
  font-weight: 500;
  font-size: 0.32rem;
  color: #666666;
}
#wrapper .content .tab-panel .content-bd .plan .plan-mess .plan-list .plan-title:before {
  content: '';
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 100%;
  background-color: #2f90bb;
  margin-left: -0.08rem;
}
#wrapper .content .tab-panel .content-bd .plan .plan-mess .plan-list .plan-title i {
  border: 1px solid #ccc;
  color: #999;
  margin-left: 0.24rem;
}
#wrapper .content .tab-panel .content-bd .plan .plan-mess .plan-list .plan-title .plan-img {
  padding: 0.2rem 0 0.2rem 1.2rem;
  width: 6.66666667rem;
  overflow: hidden;
}
#wrapper .content .tab-panel .content-bd .plan .plan-mess .plan-list .plan-title .plan-img img {
  border: 1px solid #ccc;
  width: 3.04rem;
  height: 2.64rem;
  float: left;
  margin: 0 0.13333333rem 0.13333333rem 0;
}
#wrapper .content .tab-panel .content-bd .plan .plan-mess .plan-list .plan-title .plan-img img:nth-child(2n) {
  margin-left: 0;
}
#wrapper .content .tab-panel .advance {
  padding: 0.66666667rem 0;
}
#wrapper .content .tab-panel .advance .ae-left {
  float: left;
  width: 0.93333333rem;
}
#wrapper .content .tab-panel .advance .ae-left:before {
  content: '';
  display: inline-block;
  width: 0.52rem;
  height: 0.54666667rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -4.81333333rem -5.50666667rem;
  margin-left: 0.21333333rem;
}
#wrapper .content .tab-panel .advance .ae-content {
  float: left;
  width: 9.06666667rem;
  padding-right: 0.93333333rem;
  font-size: 0.37333333rem;
  color: #252525;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper .content .tab-panel .advance .ae-content .ae-free dt {
  margin: 0.42666667rem 0;
  color: #1ab2db;
}
#footer {
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 1.30666667rem;
  line-height: 1.30666667rem;
  text-align: center;
  background-color: #ededed;
  position: absolute;
  border-top: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer span {
  -webkit-box-flex: 1;
  flex: 1;
  height: 1.30666667rem;
  border-right: 1px solid #dcdcdc;
}
#footer span:last-child {
  flex: 2;
  border-right: 0;
}
#footer .love:before {
  content: '';
  display: inline-block;
  width: 0.72rem;
  height: 0.65333333rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -6.17333333rem -4.42666667rem;
  margin-top: 0.32rem;
}
#footer .add:before {
  content: '';
  display: inline-block;
  width: 0.62666667rem;
  height: 0.62666667rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -7.32rem -4.4rem;
  margin-top: 0.32rem;
}
#footer .phone:before {
  content: '';
  display: inline-block;
  width: 0.72rem;
  height: 0.73333333rem;
  background: url(../images/icon/sprites.png) no-repeat;
  background-size: 10rem auto;
  background-position: -8.32rem -4.33333333rem;
  margin-top: 0.32rem;
}
#footer .btn-orange {
  background-color: #f1a30f;
  font-size: 0.50666667rem;
  color: #fff;
}
